{
 :agent-conf
 {:agent-url  "http://52.230.82.125:3030"
  :username "Aladdin"
  :password "OpenSesame"
  :did "did:dex:1acd41655b2d8ea3f3513cc847965e72c31bbc9bfc38e7e7ec901852bd3c457c"}

 :port 8191

 :operation-registry
 {
  :hashing
  {:handler "koi.examples.simple/sha-raw-hash"
   :metadata
   {:description "Computes sha hashes of the JSON against the to-hash key",
    :tags ["primes"],
    :license "CC-BY"
    :name "Prime computation operation"
    :type "operation"
    :author "Primely Inc"
    :inLanguage "en"
    :dateCreated "2019-05-07T08:17:31.521445Z"
    :operation
    {
     :results {:hash-val {:type "json", :position 0, :required true}}
     :modes [:sync :async]
     :params {:to-hash {:type "json", :position 0, :required true}}}}}

  :asset-hashing
  {:handler "koi.examples.simple/sha-asset-hash"
   :metadata
   {
    :description "Computes sha hashes of the asset against the to-hash  key",
    :license "CC-BY"
    :name "Asset hashing operation"
    :type "operation"
    :author "Hashers Inc"
    :inLanguage "en"
    :dateCreated "2019-05-08T08:17:31.521445Z"
    :operation
    {:results {:hash-val {:type "asset", :position 0, :required true}}
     :modes [:sync :async]
     :params {:to-hash {:type "asset", :position 0, :required true}}}}}

  :primes
  {:handler "koi.examples.prime-num/compute-primes"
   :metadata
   {
    :description "Computes primes ",
    :license "CC-BY"
    :name "Prime finding operation"
    :type "operation"
    :author "primes Inc"
    :inLanguage "en"
    :dateCreated "2019-05-08T08:17:31.521445Z"
    :operation
    {:params {:first-n {:type "json", :position 0, :required true}}
     :modes [:sync :async]
     :results {:primes {:type "asset", :position 0, :required true}}}}}

  :merge-maps
  {:handler "koi.examples.workshop-join/join-dataset"
   :metadata
   {
    :description "Merge maps by key",
    :license "CC-BY"
    :name "Merge operation"
    :type "operation"
    :author "Merge Inc"
    :inLanguage "en"
    :dateCreated "2019-05-08T08:17:31.521445Z"
    :operation
    {:params {:vehicle-dataset
              {:type "asset", :position 0, :required true}
              :workshop-dataset
              {:type "asset", :position 1, :required true}}
     :results {:joined-dataset {:type "asset", :required true}}}}}

  :iris-predictor
  {:handler "koi.examples.predict-iris/predict-class"
   :metadata
   {
    :description "Iris label predictor",
    :license "CC-BY"
    :name "Predict Iris label operation"
    :type "operation"
    :author "Prediction Inc"
    :inLanguage "en"
    :dateCreated "2019-05-08T08:17:31.521445Z"
    :operation
    {:params {:dataset {:type "asset", :position 0, :required true}}
     :modes [:sync :async]
     :results {:predictions {:type "asset", :required true}}}}}

  :concatenate-datasets
  {:handler "koi.examples.concat-datasets/concat-dataset"
   :metadata
   {
    :name "Engine maintenance dashboard"
    :description "Operation to create Engine maintenance dashboard by concatenating Engine data inputs ",
    :license "CC-BY"
    :type "operation"
    :author "Data Processor Inc"
    :inLanguage "en"
    :dateCreated "2019-05-08T08:17:31.521445Z"
    :operation
    {:params {
              :engine-logbook {:type "asset", :position 0, :required true}
              :engine-removal-notification {:type "asset", :position 1, :required true}
              :engine-shop-visit-report {:type "asset", :position 2, :required true}
              }
     :modes [:sync :async]
     :results {:engine-maintenance-dashboard {:type "asset", :required true}
               :onchain-did {:type "json", :required false}}}}}
  }
 }

