{
 :agent-url #or [#env AGENT_URL "http://52.187.164.74:8080" ]
 :username "Aladdin"
 :password "OpenSesame"
 :port 3001
 :operations
 {:hashing {:handler "src/koi/examples/hashing_simple.clj"
            :metadata-path "hashing_asset_metadata.json"
            :fn "compute-hash"}}
 #_{
  ;;note that path name with hyphen (-) must be replaced with underscore, since java doesn't allow hyphens
  ;:primes {:classname "koi.examples.prime_num.PrimeNumbers" :metadata "prime_asset_metadata.json"}
  :assethashing {:classname "koi.examples.hashing_asset.HashingAsset" :metadata "hashing_asset_metadata.json"}
  :hashing {:classname "koi.examples.hashing.Hashing" :metadata "hashing_metadata.json"}
  ;:irisprediction {:classname "koi.examples.predict_iris.PredictIrisClass" :metadata "irisprediction_metadata.json"}
  ;:translation {:classname "koi.examples.translate_german_to_en.TranslateClass" :metadata "translate_german_to_en_metadata.json"}
  ;:filter-rows {:classname "koi.examples.filter_empty_rows.FilterRowsClass" :metadata "filter_rows_metadata.json"}
  ;:workshop-join-cars {:classname "koi.examples.workshop_join.JoinCarsDatasetClass" :metadata "join_cars_metadata.json"}
  ;:prov {:classname "koi.examples.prov_tree_traversal.ProvTraversalClass" :metadata "prov_tree_metadata.json"}
  ;;a testing asset that throws exception
 :fail {:classname "koi.examples.failing_asset.FailingAsset" :metadata "prov_tree_metadata.json"}
  }}

