{
 :agent-conf
 {:agent-url #or [#env AGENT_URL  "http://13.70.20.203:8090"]
  :username "Aladdin"
  :password "OpenSesame"}

 :port 3001

 :operation-registry
 {:hashing {:handler "koi.examples.hashing-simple/sha-raw-hash"
            :metadata
            {:results {:hash-val {:type "json", :position 0, :required true}}
             :params {:to-hash {:type "json", :position 0, :required true}}}}

  :asset-hashing
  {:handler "koi.examples.hashing-simple/sha-asset-hash"
   :metadata
   {:results {:hash-val {:type "asset", :position 0, :required true}}
    :params {:to-hash {:type "asset", :position 0, :required true}}}}

  :fail
  {:handler "koi.examples.hashing-simple/fail"
   :metadata
   {:results {} 
    :params {}}
   }}

 }

