{
 :agent-conf
 {:agent-url #or
  [#env AGENT_URL  "http://13.70.20.203:8090"]
  ;[#env AGENT_URL  "http://localhost:8080"]
  :username "Aladdin"
  :password "OpenSesame"}

 :port 3001

 :operation-registry
 {
  :hashing
  {:handler "koi.examples.simple/sha-raw-hash"
   :metadata
   {:operation 
    {:results {:hash-val {:type "json", :required true}}
     :params {:to-hash {:type "json", :position 0, :required true}}}}}

  :asset-hashing
  {:handler "koi.examples.simple/sha-asset-hash"
   :metadata
   {:operation
    {:results {:hash-val {:type "asset", :required true}}
     :params {:to-hash {:type "asset", :position 0, :required true}}}}}

  :primes
  {:handler "koi.examples.prime-num/compute-primes"
   :metadata
   {:operation
    {:params {:first-n {:type "json", :position 0, :required true}}
     :results {:primes {:type "asset", :required true}}}}}

  :filter-rows
  {:handler "koi.examples.filter-empty-rows/filter-rows"
   :metadata
   {:operation
    {:results {:filtered-dataset {:type "asset", :required true}}
     :params {:dataset {:type "asset", :required true :position 0}
              :max-empty-columns {:type "json" :position 1 :required false}}}}
   }

  :merge-maps
  {:handler "koi.examples.workshop-join/join-dataset"
   :metadata
   {:operation
    {:params {:vehicle-dataset
              {:type "asset", :position 0, :required true}
              :workshop-dataset
              {:type "asset", :position 1, :required true}}
     :results {:joined-dataset {:type "asset", :required true}}}}}

  :iris-predictor
  {:handler "koi.examples.predict-iris/predict-class"
   :metadata
   {:operation
    {:params {:dataset {:type "asset", :position 0, :required true}}
     :modes [:sync :async]
     :results {:predictions {:type "asset", :required true}}}}}

  :fail
  {:handler "koi.examples.simple/fail"
   :metadata
   {:operation 
    {:results {:abcd {:type "json", :required true}}
     :params {:def {:type "json" :position 0 :required true}}}}}

  :run-notebook
  {:handler "koi.examples.jupynb/run-notebook"
   :metadata
   {:operation 
    {:results {:output-file {:type "json", :required true}}
     :params {
              :notebook {:type "asset" :position 0 :required true}
              :input-asset {:type "asset" :position 1 :required true}
              :notebook-name {:type "json" :position 2 :required true}
              :input-asset-name {:type "json" :position 3 :required true}
              :result-asset-name {:type "json" :position 4 :required true}
              }}}}

 }
}
